<p id="notice"><%= notice %></p>

<p>
  <b>Beer club:</b>
  <%= @membership.beer_club_id %>
</p>

<p>
  <b>User:</b>
  <%= @membership.user_id %>
</p>


<%= edit_and_destroy_buttons(@membership) %>
<%= link_to 'Back', memberships_path,class:"btn btn-success" %>
