<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<% if @user.ratings.empty? %>
  <p>no ratings given</p>
<% else %>
  <p>
    has given <%= @user.ratings.count %> ratings, average <%= round(@user.average_rating) %>
  </p>

  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %> 
      <% if currently_signed_in? @user %>
          <%= link_to 'delete', rating, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger" %> 
      <% end %>
      </li>
    <% end %>
  </ul>

<% end %>

<% if @user.memberships.confirmed.empty? %>
  <p>No memberships</p>
<% else %>
  <h3>Memberships: </h3>
  <ul>
    <% @user.memberships.confirmed.each do |m| %>
      <li>
        <%= link_to m.beer_club.name , m.beer_club %>
      </li>
    <% end %>
  </ul>

<% end %>

<% if @pending_applications.empty? %>
  <p>No applications pending for</p>
<% else %>
  <h3>Applications pending for: </h3>
  <ul>
    <% @pending_applications.each do |m| %>
      <li>
        <%= link_to m.beer_club.name , m.beer_club %>
      </li>
    <% end %>
  </ul>

<% end %>

<% favostyle = @user.favorite_style %>
<% unless favostyle.nil? %>
  <p>Favorite style: <%= favostyle.name %></p>
<% end %>

<% favobrewery = @user.favorite_brewery %>
<% unless favobrewery.nil? %>
  <p>Favorite brewery: <%= favobrewery.name %></p>
<% end %>

<% favobeer = @user.favorite_beer %>
<% unless favobrewery.nil? %>
  <p>Favorite beer: <%= favobeer.name %></p>
<% end %>


<% if currently_signed_in? @user %>
  <%= edit_and_destroy_buttons(@user) %>
<% end %>
<%= link_to 'Back', users_path, class:"btn btn-success" %>
