<p id="notice"><%= notice %></p>

<h1>
  <%= @style.name %>
</h1>

<p>
  <%= @style.description %>
</p>


<p>
  <b>Beers:</b>
 <% @style.beers.each do |beer| %>
   <ul>
   <li><%= link_to beer.name, beer %></li>
   </ul>
 <% end %>
</p>

<%= edit_and_destroy_buttons(@style) %>
<%= link_to 'Back', styles_path, class:"btn btn-success" %>
