<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style.name %>
</p>

<p>
  <b>Brewery:</b>
  <%= Brewery.find(@beer.brewery_id).name %>
</p>

<% if @beer.ratings.empty? %>
 <p>beer has not yet been rated!</p>
<% else %>
 <p>beer has <%= pluralize(@beer.ratings.count, 'rating') %> , average <%= @beer.average_rating %> </p>
<% end %>

<h4>give a rating:</h4>

<%= form_for(@rating) do |f| %>
  <%= f.hidden_field :beer_id %>
  score: <%= f.number_field :score %>
  <%= f.submit %>
<% end %>

<p></p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
